@font-face {
  font-family: HarryPotter;
  src: url("/fonts/harry-p.TTF");
}
body {
  background: url(/img/castle-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

h1 {
  font-family: HarryPotter;
  text-align: center;
  font-size: 76px;
  color: #EEEEEE;
}

h2 {
  font-family: HarryPotter;
  text-align: center;
  color: #DDDDDD;
  font-size: 48px;
  font-style: italic;
}

h3 {
  font-size: 48px;
  font-style: bold;
  text-align: center;
  font-family: HarryPotter;
  color: #EEEEEE;
}

ol {
  font-family: HarryPotter;
  font-size: 36px;
  font-family: HarryPotter;
  color: #EEEEEE;
}

.scoreboard-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.panel-body {
  text-align: center;
}

.panel-body .btn {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
}

.panel-body h2 {
  color: rgb(20, 20, 20);
}

.panel-body h3 {
  color: rgb(20, 20, 20);
  font-size: 24px;
  margin-bottom: 30px;
}

.panel-body .input-group {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
